

{% extends 'app/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% block content %}
    <div class="container mt-5">

        <div class="form-outline mb-3 d-flex">
            <label for="value">Filter by category:</label>
            <i id="search-icon" class="fas fa-search"></i>
            <input type="search" id="unique-input" class="form-control" placeholder="Input name of category"/>
        </div>
        <div id="replaceable-content">
            {% include 'app/category/category-results-partial.html' %}
        </div>
        <a class="btn btn-primary btn-lgs" href="category/create">Add new category</a>
    </div>
{% endblock %}
</body>
</html>
