{% extends 'app/base.html' %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% block content %}
    <div class="container mt-5">
        <div class="form-outline mb-3 d-flex">
            <label for="value">Filter by category:</label>
            <select class="form-select" id="selected-category">
                <option selected value="">All categories</option>
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>


        </div>

        <div id="replaceable-content">
            {% include 'app/transaction/transaction-results-partial.html' %}
        </div>

        <a class="btn btn-primary btn-lgs" href="transaction/create">Add new transaction</a>
    </div>
{% endblock %}
</body>
</html>